---
layout: master
title: 操作回放
---

<p>点击下面相应的链接通过Web网页观看操作回放。网页回放技术来自于 <a href="http://encryptio.com/code/jsttyplay">jsttyplay</a>。
<p>如需要更好的控制回复的速度、暂停等，请使用 <a href="http://0xcc.net/ttyrec/">ttyplay (Linux)</a>, <a href="http://angband.pl/termrec.html">termrec (Windows)</a> 等软件回放扩展名为 ".ttyrec" 的文件。
<p>您也可以使用 <a href="http://en.wikipedia.org/wiki/Ttyrec">ttyrec</a> 软件录制自己的回放，将文件以 ".ttyrec" 为扩展名保存在 ttyrec 目录下，然后执行 "rake" 命令，自动将新增回放放入本页面中。
<p>从版本库 <a href="https://github.com/gotgit/gotgit/">git://github.com/gotgit/gotgit.git</a> 克隆并创建您自己的分支，与大家分享。

<%
parts = { '1' => '第1篇：初识Git',
          '2' => '第2篇：Git独奏',
          '3' => '第3篇：Git和声',
          '4' => '第4篇：Git协同模型',
          '5' => '第5篇：搭建Git服务器',
          '6' => '第6篇：迁移到Git',
          '7' => '第7篇：Git的其他应用',
          '8' => '第8篇：Git杂谈',
          '9' => '第9篇：附录',
          'others'=> '其它',
         }
%>

<%  ttyrec_list.keys.sort.each do |key| %>
<%    if parts.member?(key) %>
<h2><%= parts[key] %></h2>
<%    else %>
<h2><%= key %></h2>
<%    end %>
<ul>
<%    ttyrec_list[key].each do |t| %>
<li><a href="<%=   t['html'] %>"><%=   t['title'] %></a>
<%    end %>
</ul>
<%  end %>
