<html>
<head>
<title><%=title %></title>
<% css_files.each do |t| %>
<LINK rel="stylesheet" href="<%= t %>" type="text/css">
<% end %>
</head>
<body>
<div class="document">
<div id="tty">Enable JavaScript to see the animation.</div>
<script src="<%=js_file %>"></script>
<script>
showTTYURL( document.getElementById("tty"), "<%=json_file%>" );
</script>
</div>
</body>
</html>
