div#tty
{
  background: #000;
  margin: 1em 0.2em 1em 0.2em;
  padding: 0.5em 0.2em 0.5em 0.2em;
}

div.row
{
  font-family: "Lucida Console", "DejaVu Sans Mono", "Nimbus Mono L", "Bitstream Vera Sans Mono", "ProFont", "Luxi Mono", "Monaco", "Courier", "Courier new", monospace;
  margin: 0;
  padding: 0;
  word-spacing: 0;
  height: 1.2em;
}

span.charelem
{
  background: #000;
  color: #FFF;
  margin: 0;
  padding: 0 0 0.2em 0;
  font-weight: normal;
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 0;
  display: inline;
  overflow:auto;white-space:pre;/* <- css3 */
}
